*~
bin
build
.cache
.classpath
cover
coverage*
.coverage
debian
dist
dist-beta
.DS_Store
*.dylib
*.egg-info
ENV
*.framework
htmlcov
.idea
*.iml
lextab.py
MANIFEST
.project
*.pyc
.pydevproject
pylint_report.txt
.ropeproject
.scannerwork
.settings
*.swp
target
venv
yacctab.py
